/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0420f3;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo img {
    height: 70px;
}

.nav-links {
    list-style: none;
    display: flex; /* Display horizontally */
    align-items: center; /* Center vertically */
}

.nav-links li {
    margin-right: 15px; /* Add some spacing between links */
}

.nav-links a {
    text-decoration: none;
    color:#EF0B31;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff9900;
}

table, th, td {
    border: 1px solid;
  }

th{
    font-weight: bold;
}

.date{
    align-items: right;
}